<div class="main-background">
    <div class="container-fluid">
        <div class="rent-room-container">
            <h1>Báo cáo doanh thu theo loại phòng</h1>
            <br>
            <form action="" method="post">
                <div style="width: 300px">
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                   placeholder="Tháng..." aria-label="Search"
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                   <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
            <form action="" method="post">
                <div style="width: 300px">
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                   placeholder="Loại phòng..." aria-label="Search"
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="width: 10px;">STT</th>
                    <th scope="col" style="width: 100px;">Loại phòng</th>
                    <th scope="col" style="width: 100px;">Doanh thu</th>
                    <th scope="col" style="width: 100px;">Tỷ lệ</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>A</td>
                    <td>2000</td>
                    <td>20%</td>
                </tr>
            </tbody>

        </table>
        </div>
    </div>
</div>